    <div id="cookie-banner" class="cookie-banner">
        <div class="cookie-banner__inner">
            <p class="cookie-banner__text">Nous utilisons des cookies pour mesurer l'efficacité de nos campagnes publicitaires. <a href="/politique-de-confidentialite">En savoir plus</a></p>
            <div class="cookie-banner__actions">
                <button id="cookie-accept" class="cookie-banner__btn cookie-banner__btn--accept">Accepter</button>
                <button id="cookie-refuse" class="cookie-banner__btn cookie-banner__btn--refuse">Refuser</button>
            </div>
        </div>
    </div>

    <div class="mobile-sticky-bar">
        <a href="/devis-nettoyage#formulaire" class="btn btn--primary btn--full" data-cta="mobile-sticky-devis">Devis gratuit</a>
    </div>

    <script src="/js/main.js"></script>
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"187235259", enableAutoSpaTracking: true};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>